language: python
python:
  - "3.4.3"
cache: pip3
install:
  - pip3 install -r requirements.txt
  - pip3 install -r requirements-dev.txt
script:
  - python3 -m pytest --cov=lib --cov-report html -v tests/
after_success:
  - coveralls

